@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:slnt,wght@-14..14,300&display=swap');

html,
body,
div,
span,
input,
textarea,
button {
  font-family: 'Afacad Flux', sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

body {
  scrollbar-width: none;
  overflow-x: hidden;
  background-color: white !important;
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::selection {
  background-color: #b3d4fc;
  color: #1c1c1d;
}