@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:slnt,wght@-14..14,300&display=swap');

html,
body,
div,
span,
input,
textarea,
button {
  font-family: 'Afacad Flux', sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

body {
  scrollbar-width: thin;
  overflow-x: hidden;
  background-color: #ffffff !important;
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #0072ff, #00c6ff);
  border-radius: 10px;
  border: 2px solid #f5f5f5;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #005ecf, #00a8d6);
}

::selection {
  background-color: #b3d4fc;
  color: #1c1c1d;
}
