.about-container {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}

.h1-container {
  margin: 0 auto 40px auto;
  background-image: url("/home/samuel/Documents/social-media-app/socialApp-client/src/assets/background.jpg");
  background-size: cover;
  background-position: center;
  padding: 40px;
  border-radius: 4px;
  text-align: left;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: auto;
  width: 90px;
  top: 10px;
}

h1 {
  margin: 0;
  color: white;
  font-size: 70px;
  font-weight: 700;
  display: block;
}

.about-section {
  margin-bottom: 40px;
}

.about-title {
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
}

.about-content p {
  font-size: 16px;
  line-height: 1.5;
  color: #657786;
}

.bold-text {
  font-weight: bold;
  color: white;
}

::selection {
  background-color: #b3d4fc;
  color: #14171a;
}

.bottom-links {
  margin-top: 20px;
  text-align: center;
}

.bottom-link {
  margin: 0 15px;
  text-decoration: none;
  color: #1da1f2;
  font-weight: bold;
}

.bottom-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .bottom-link {
    display: block;
    margin: 10px 0;
  }
}
