.activity-page-container {
  background-color: white;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
  padding: 15px;
  height: calc(96vh - 20px);
  left: 0;
  position: fixed;
  max-width: 800px;
  overflow: auto;
  top: -5px;
  z-index: 1000;
}

.activity-span {
  font-size: 15px;
}

.h1-ac-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.post-card1 {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  margin: 20px auto;
  position: relative;
  max-width: 270px;
  cursor: pointer;
  border-left: 4px solid #007bff;
  transition: background-position 0.5s ease, border-left 0.5s ease;
}

.post-card1:hover {
  border-left: 4px solid #007bff;
}

.backB {
  background-color: lightgrey;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: 20px;
}

.post-card1 p {
  font-style: italic;
  position: relative;
  margin: 0;
  padding: 0;
}

.post-card1 p::before {
  content: "“";
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: -10px;
  color: #007bff;
}

.post-card1 p::after {
  content: "”";
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: -10px;
  color: #007bff;
}

.back-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.backB:hover {
  background-color: lightgrey;
}

.bullet-point {
  color: lightgrey;
}

.comment-card {
  border-radius: 8px;
  top: 12px;
  max-width: 300px;
  position: relative;
  display: block;
  font-style: italic;
}

.comment-card p {
  margin: 0;
  padding: 0;
}

.comment-card a {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.line-point {
  margin-left: 10px;
}

.comment-card a:hover {
  text-decoration: underline;
}

.activity-icon {
  width: 34px;
  height: 34px;
  margin-right: 8px;
}

.timestamp {
  color: #888;
  margin-left: 5px;
}

.activity-item {
  position: relative;
  align-items: center;
  padding: 20px 0;
}

.activity-item-content {
  position: relative;
  align-items: center;
}

.line {
  position: absolute;
  left: 350px;
  top: 40px;
  height: 140px;
  width: 1.5px;
  background: #dde4ee;
  z-index: -1;
}

.activity-save {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.activity-like {
  width: 50px;
  height: 50px;
  margin-right: 11px;
}

.activity-comment {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.view-post {
  margin-left: 10px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .h1-ac-button {
    justify-content: center;
    margin-right: 35px;
  }

  .backB {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }

  .comment-card {
    max-width: 30%;
    padding: 8px;
    border-left: 3px solid #007bff;
  }

  .activity-item {
    padding: 15px 0;
  }

  .line {
    left: 220px;
    top: 35px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .h1-ac-button {
    justify-content: center;
  }

  .backB {
    width: 30px;
    height: 30px;
  }

  .comment-card {
    max-width: 65%;
    padding: 8px;
    border-left: 2px solid #007bff;
  }

  .activity-item {
    padding: 10px 0;
  }

  .line {
    left: 50px;
    top: 30px;
    height: 140px;
  }
}
@media (min-width: 1200px) {
  .line {
    left: 555px;
    height: 140px;
  }
}

@media (min-width: 2500px) {
  .line {
    left: 1115px;
  }
}
