.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 2;
  padding: 20px;
  margin-top: 3%;
  overflow-y: auto;
}

.side-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.chat-history {
  border-top: 1px solid #ddd;
  background-color: #f9f9f9;
}

.left-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}