.p-card {
  background-color: #14171a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  max-width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  color: white;
}

.like-count {
  font-size: 14px;
  color: white;
}

.p-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.comment-btn {
  background-color: transparent;
  color: #14171a;
  margin-top: -1px;
  width: 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.loading-container {
  width: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 30px;
  height: 30px;
  right: 2%;
  position: relative;
}

.share-icon {
  border: none;
}

.loader-tt {
  margin-top: 80px;
  text-align: center;
}

.user-username {
  font-size: 13px;
  margin-left: 50px;
  top: -35px;
  position: relative;
}

@media (max-width: 1024px) {
  .p-card {
    width: 75%;
  }

  .error-message {
    margin-left: 50px;
    font-size: 13px;
    color: red;
    text-align: center;
  }

  .new-comment-form textarea {
    width: 400px;
    height: 40px;
    resize: vertical;
    padding: 10px;
    font-size: 10px;
    border: 0.5px solid lightgrey;
    border-radius: 3px;
  }

  .post-comment-button {
    padding: 16px 20px;
    background: linear-gradient(to right, #0072ff, #00c6ff);
    color: white;
  }

  .post-comment-button:hover {
    background-color: #14171a;
    color: white;
    transition: 0.5s ease-in-out;
  }
}

@media (max-width: 768px) {
  .p-card {
    width: 90%;
    position: fixed;
    margin: 0 50px;
    padding: 15px;
    border-radius: 0;
  }

  .error-message {
    margin-left: 50px;
    font-size: 13px;
    color: red;
    text-align: center;
  }

  .post-date1 {
    font-size: 8.5px;
    color: grey;
    position: absolute;
    left: 26px;
    top: 95px;
  }

  .facebook-icon,
  .reddit-icon,
  .youtube-icon {
    width: auto;
  }

  .share-icons {
    display: flex;
    justify-content: space-around;
  }

  .x-icon {
    width: 34px;
  }

  .new-comment-form textarea {
    width: 200px;
    height: 40px;
    resize: vertical;
    padding: 10px;
    font-size: 10px;
    border: 0.5px solid lightgrey;
    border-radius: 3px;
  }

  .post-comment-button {
    padding: 16px 20px;
    background: linear-gradient(to right, #0072ff, #00c6ff);
    color: white;
  }

  .post-comment-button:hover {
    background-color: #14171a;
    color: white;
    transition: 0.5s ease-in-out;
  }

  .small-timer {
    font-size: 10px;
    color: lightgrey;
    margin-bottom: -10px;
    margin-right: 20px;
  }

  .user-comment1 {
    font-size: 20px;
    margin-left: 10px;
  }

  .user-username {
    font-size: 10px;
    margin-right: 70px;
    margin-top: -30px;
  }
}
