.glass-card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  width: 500px;
  padding: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  margin-bottom: 20px;
  transition: transform 0.2s ease-in-out;
  background-image: url("../assets/bckg.png");
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1rem;
  margin-bottom: 20px;
}

.card-button {
  background-color: rgb(255, 255, 255);
  color: #333;
  border: none;
  padding: 5px 20px;
  border-radius: 45px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.card-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
