.profile-layout {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
  align-items: center;
}
.profile-error {
  color: red;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-top: 3px;
  justify-content: center;
}

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-image {
  width: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-text {
  font-size: 12px;
  margin-top: 10px;
  font-size: 12;
  position: fixed;
  top: 51%;
  left: 49.5%;
  transform: translate(-50%, -50%);
}
