button.gen-new {
  background-color: #b3d4fc;
  color: #14171a;
  width: auto;
  margin-top: 20px;
}

.generate-qr-new {
  margin-top: 30px;
}

.header-qr {
  margin: 0 auto 40px auto;
  background-image: url("/home/samuel/Documents/social-media-app/socialApp-client/src/assets/background.jpg");
  background-size: cover;
  background-position: center;
  padding: 40px;
  border-radius: 4px;
  text-align: left;
  width: 900px;
}

.headerpo {
  display: flex;
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}

.logo1 {
  height: auto;
  position: relative;
  margin-top: -40px;
  width: 90px;
}

.login-link {
  color: #1da1f2;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

.login-link:hover {
  text-decoration: underline;
}
.bottom-lin {
  color: #1da1f2;
  text-decoration: none;
  font-weight: bold;
}

.bottom-lin:hover {
  text-decoration: underline;
}
