.skeleton-loader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.skeleton-line {
  background: linear-gradient(
    to right,
    #6386af 0%,
    #364083 33%,
    #30217e 66%,
    #8d76b4 100%
  );
  border-radius: 4px;
  height: 20px;
  width: 100%;
  animation: loading 1s infinite;
}


@keyframes loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(100vw + 200px) 0;
  }
}

.skeleton-line:nth-child(1) {
  animation-delay: 0s;
}

.skeleton-line:nth-child(2) {
  animation-delay: 0.15s;
}

.skeleton-line:nth-child(3) {
  animation-delay: 0.3s;
}

.skeleton-line:nth-child(4) {
  animation-delay: 0.45s;
}