.trending-list {
  margin-bottom: 20px;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 10px;
  width: 500px;
  margin-bottom: 10px;
  color: white;
}

.trend-item {
  margin: 5px 0;
}

.trend-text {
  margin: 0;
  font-size: 15px;
}

.trend-hashtag {
  font-weight: bold;
  cursor: pointer;
}

.trend-hashtag:hover {
  text-decoration: underline;
}

.post-count {
  color: lightgrey;
  margin: 0;
  font-size: 10px;
}

.show-more-button {
  background-color: transparent;
  text-decoration: none;
  color: rgb(29, 155, 240);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 12px;
}

.show-more-button:hover {
    text-decoration: underline;
}

.trend-card {
  position: relative;
  /* Other styling for the card */
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust based on your card height */
  width: 100%; /* Make sure it takes the full width of the card */
}

.loader {
  width: 50px; /* Adjust loader size as needed */
  height: 50px;
}
