#chat_container {
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  scroll-behavior: smooth;
}

.sidebar1_container {
  display: flex;
  height: 90vh;
  position: relative;
}

.heading_center {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: black;
}

.sidebar1 {
  width: 20%;
  height: 100%;
  overflow-y: auto;
  background: linear-gradient(to bottom, #1e1e1e, #2e2e2e);
  transition: transform 0.3s ease-in-out;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}

.main_content_ai {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#chat_container {
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  scroll-behavior: smooth;
}

.predefined_questions {
  margin-top: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.predefined_button {
  margin: 5px;
  padding: 8px 15px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
}

.predefined_button:hover {
  background-color: #e0e0e0;
}

.terminal_block {
  background-color: lightgrey;
  color: #ffffff;
  border-radius: 20px;
  margin: 10px 0;
  padding: 10px;
}

.terminal_header {
  color: black;
  font-style: italic;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
}

.thinking_placeholder {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  color: #999;
}

.dot {
  display: inline-block;
  opacity: 0;
  animation: blink 1.5s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes blink {
  0%,
  20%,
  100% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

.wrapper {
  padding: 15px;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background: #5436da;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.message {
  flex: 1;
  color: black;
  font-size: 20px;
  max-width: 100%;
  overflow-wrap: anywhere;
  word-break: normal;
  white-space: pre-wrap;
}

.message strong {
  font-weight: bold;
}

.message ul {
  list-style-type: disc;
  padding-left: 0px;
}

.message li {
  margin-bottom: 5px;
}

.message pre {
  background-color: #1c1c1d;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px;
  overflow-x: auto;
}

.ai_form {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 3px;
  margin-bottom: 25px;
  background: white;
  color: #1c1c1d;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 30px;
  align-items: center;
  border: 0.5px solid;
}

.ai_textArea {
  width: 100%;
  color: #1c1c1d;
  font-size: 18px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

.ai_submit {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
  width: 75px;
}

.ai_form img {
  width: 30px;
  height: 30px;
}

.info_text {
  color: black;
  font-size: 10px;
  text-align: right;
  margin-right: 55px;
  margin-bottom: 10px;
}

.code_block {
  background-color: #1e1e1e;
  color: white;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
  font-family: inherit;
}

@media (max-width: 768px) {
  .sidebar1 {
    width: 100%;
    height: auto;
  }
}