.community_details_container {
  padding: 20px;
}

.community_banner {
  position: relative;
  margin-bottom: 20px;
}

.community_banner_img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}

.community_profile_img {
  position: absolute;
  bottom: -50px;
  left: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid black;
}

.community_info {
  padding: 20px;
  border-radius: 10px;
  color: black;
}

.community_name {
  margin-left: 110px;
  color: black;
  font-size: 2.2em;
}

.community_actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.community_buttons {
  display: flex;
  gap: 10px;
}

.content_container {
  display: flex;
  margin-top: 20px;
}

.left_side {
  flex: 1;
  padding-right: 20px;
}

.right_side {
  flex: 1;
  padding-left: 20px;
}

.no_posts_message {
  font-size: 18px;
  color: #666;
  text-align: center;
  padding: 20px;
}

.community_card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border: 1px solid grey;
}

.community_description h3 {
  font-size: 1.6em;
  font-weight: bold;
  color: #333;
}

.community_description p {
  font-size: 1.1em;
  color: #555;
  margin-top: 10px;
}

.community_info_details {
  margin-top: 20px;
}

.community_info_details div {
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #333;
}

.community_info_details strong {
  color: #444;
}

.community_created,
.community_members {
  color: #666;
}

.post_community_card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
  max-width: 100%;
  cursor: pointer;
  color: black;
  border: 0.2px solid grey;
}

.user_community_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post_community_time {
  font-size: 13px;
  color: grey;
}

.community_content {
  margin-left: 10px;
  margin-top: 20px;
}

.like_buttons {
  display: flex;
  background: #e5f0f5;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  justify-content: space-evenly;
  align-items: center;
  transition: background-color 0.3s ease;
}

.like_buttons.liked {
  background-color: rgb(180, 14, 14);
}

.like_buttons.disliked {
  background-color: rgb(19, 100, 155);
}

.like_button,
.dislike_button {
  background: transparent;
  border: none;
  color: grey;
  cursor: pointer;
  font-size: 20px;
}

.like_button.active {
  color: white;
}

.dislike_button.active {
  color: white;
}

.community_action {
  display: flex;
  gap: 20px;
}

span.members_count {
  font-size: 0.5em;
  color: gre;
  margin-left: 10px;
  margin-top: 20px;
}

.community_count {
  margin-right: 10px;
  margin-top: 1px;
  color: rgb(0, 0, 0);
  font-size: 17px;
}

.community_faq {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.faq_item {
  margin-bottom: 15px;
}

.faq_question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
  color: #333;
  font-weight: bold;
  padding: 5px;
}

.faq_answer {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 1em;
  color: #555;
  display: block;
}

.faq_question span {
  font-size: 1.5em;
  color: #007bff;
}

.faq_question:hover {
  color: #007bff;
}

.community_description {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.community_action_button {
  position: absolute;
  top: 360px;
  right: 70px;
  padding: 5px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  z-index: 4;
  font-size: 14px;
}

.community_post_button {
  position: absolute;
  top: 360px;
  right: 159px;
  padding: 5px 20px;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  z-index: 4;
  font-size: 14px;
  border: 1px solid #444;
}

.community_action_button:disabled {
  background-color: transparent;
  cursor: not-allowed;
  border: 1px solid #444;
  color: black;
}

.community_menu_button {
  position: absolute;
  top: 359px;
  right: 25px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 1px solid #444;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  color: black;
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: self-end;
}

.community_dropdown_menu {
  position: absolute;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  right: 20px;
  bottom: 300px;
  width: 200px;
  z-index: 12;
}

.community_dropdown_menu a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 0;
}

.community_actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.community_buttons {
  display: flex;
  gap: 10px;
}

.feed_button,
.about_button {
  background-color: transparent;
  color: black;
  border: 1px solid #444;
  border-radius: 20px;
  padding: 5px 20px;
  cursor: pointer;
}

.community_dropdowns {
  display: flex;
  gap: 10px;
}

.view_dropdown,
.sort_dropdown {
  position: relative;
}

.view_dropdown button,
.sort_dropdown button {
  background-color: transparent;
  color: black;
  border: 1px solid #444;
  border-radius: 20px;
  padding: 5px 20px;
  cursor: pointer;
}

.view_dropdown_menu,
.sort_dropdown_menu {
  background-color: white;
  color: black;
  padding: 10px;
  position: absolute;
  top: 110%;
  right: 0;
  width: 150px;
  border-radius: 5px;
  z-index: 10;
}

.view_dropdown_menu a,
.sort_dropdown_menu a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 0;
}

.divider {
  border: 1px solid #444;
  margin-top: 20px;
  margin-bottom: 20px;
}

.loading_details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.spinner_details {
  width: 30px;
  height: 30px;
}