.community-details-container {
  padding: 20px;
}

.community-banner {
  position: relative;
  margin-bottom: 20px;
}

.community-banner-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}

.community-profile-img {
  position: absolute;
  bottom: -50px;
  left: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid black;
}

.community-info {
  padding: 20px;
  border-radius: 10px;
  color: black;
}

.community-name {
  margin-left: 110px;
  color: black;
  font-size: 2.2em;
}

.community-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.community-buttons {
  display: flex;
  gap: 10px;
}

.content-container {
  display: flex;
  margin-top: 20px;
}

.left-side {
  flex: 1;
  padding-right: 20px;
}

.right-side {
  flex: 1;
  padding-left: 20px;
}

.community-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border: 1px solid grey;
}

.community-description h3 {
  font-size: 1.6em;
  font-weight: bold;
  color: #333;
}

.community-description p {
  font-size: 1.1em;
  color: #555;
  margin-top: 10px;
}

.community-info-details {
  margin-top: 20px;
}

.community-info-details div {
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #333;
}

.community-info-details strong {
  color: #444;
}

.community-created,
.community-members {
  color: #666;
}

.post-community-card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
  max-width: 100%;
  cursor: pointer;
  color: black;
  border: 0.2px solid grey;
}

.user-community-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-community-time {
  font-size: 13px;
  color: grey;
}

.community-content {
  margin-left: 10px;
  margin-top: 20px;
}

.like-buttons {
  display: flex;
  background: #e5f0f5;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  justify-content: space-evenly;
  align-items: center;
  transition: background-color 0.3s ease;
}

.like-buttons.liked {
  background-color: rgb(180, 14, 14);
}

.like-buttons.disliked {
  background-color: rgb(19, 100, 155);
}

.like-button,
.dislike-button {
  background: transparent;
  border: none;
  color: grey;
  cursor: pointer;
  font-size: 20px;
}

.like-button.active {
  color: white;
}

.dislike-button.active {
  color: white;
}

.community-action {
  display: flex;
  gap: 20px;
}

span.members-count {
  font-size: 0.5em;
  color: grey;
  margin-left: 10px;
  margin-top: 20px;
}

.community-count {
  margin-right: 10px;
  margin-top: 1px;
  color: rgb(0, 0, 0);
  font-size: 17px;
}

.community-faq {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.faq-item {
  margin-bottom: 15px;
}

.faq-question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
  color: #333;
  font-weight: bold;
  padding: 5px;
}

.faq-answer {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 1em;
  color: #555;
  display: block;
}

.faq-question span {
  font-size: 1.5em;
  color: #007bff;
}

.faq-question:hover {
  color: #007bff;
}

.community-description {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.community-action-button {
  position: absolute;
  top: 360px;
  right: 70px;
  padding: 5px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  z-index: 4;
  font-size: 14px;
}

.community-post-button {
  position: absolute;
  top: 360px;
  right: 159px;
  padding: 5px 20px;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  z-index: 4;
  font-size: 14px;
  border: 1px solid #444;
}

.community-action-button:disabled {
  background-color: transparent;
  cursor: not-allowed;
  border: 1px solid #444;
  color: black;
}

.community-menu-button {
  position: absolute;
  top: 359px;
  right: 25px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 1px solid #444;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  color: black;
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: self-end;
}

.community-dropdown-menu {
  position: absolute;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  right: 20px;
  bottom: 300px;
  width: 200px;
  z-index: 12;
}

.community-dropdown-menu a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 0;
}

.community-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.community-buttons {
  display: flex;
  gap: 10px;
}

.feed-button,
.about-button {
  background-color: transparent;
  color: black;
  border: 1px solid #444;
  border-radius: 20px;
  padding: 5px 20px;
  cursor: pointer;
}

.community-dropdowns {
  display: flex;
  gap: 10px;
}

.view-dropdown,
.sort-dropdown {
  position: relative;
}

.view-dropdown button,
.sort-dropdown button {
  background-color: transparent;
  color: black;
  border: 1px solid #444;
  border-radius: 20px;
  padding: 5px 20px;
  cursor: pointer;
}

.view-dropdown-menu,
.sort-dropdown-menu {
  background-color: white;
  color: black;
  padding: 10px;
  position: absolute;
  top: 110%;
  right: 0;
  width: 150px;
  border-radius: 5px;
  z-index: 10;
}

.view-dropdown-menu a,
.sort-dropdown-menu a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 0;
}

.divider {
  border: 1px solid #444;
  margin-top: 20px;
  margin-bottom: 20px;
}

.loading-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.spinner-details {
  width: 30px;
  height: 30px;
}