.contact_container {
  padding: 20px;
}

.h1_container {
  margin: 0 auto 40px auto;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  padding: 40px;
  border-radius: 4px;
  text-align: left;
}

h1 {
  margin: 0;
  color: black;
  font-size: 70px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  display: flex;
}

.contact_info {
  text-align: center;
  font-size: 18px;
  color: #333;
}

.social_icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.social_icon {
  font-size: 40px;
  color: #1da1f2;
  transition: color 0.3s;
}

.social_icon:hover {
  color: #0077b5;
}

.email {
  margin-top: 20px;
}

.email a {
  color: #1da1f2;
  text-decoration: none;
}

.email a:hover {
  text-decoration: underline;
}