* {
  box-sizing: border-box;
}

body.login_page {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: auto;
}

body.login_page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(6px);
  z-index: -1;
}

.custom_login_loader {
  width: 30px;
}

.container_login {
  background: white;
  box-shadow: 0 6px 12px rgb(8, 8, 8);
  padding: 15px;
  color: black;
  border-radius: 15px;
  width: 380px;
  margin: 10px auto;
  max-height: calc(100vh - 60px);
  overflow: auto;
}

.text_center {
  text-align: center;
}

.my_3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.arrow {
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  justify-content: end;
  display: flex;
  color: black;
  top: 15px;
  border-radius: 50%;
  z-index: 10001;
  margin-bottom: 10px;
  transition: right 0.3s ease-in-out;
}

.arrowOpen {
  transform: translateX(-280px);
}

.message {
  position: absolute;
  top: 20px;
  right: -250px;
  width: 250px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  transition: right 0.3s ease-in-out;
  display: none;
  visibility: hidden;
  opacity: 0;
  display: block;
}

.messageOpen {
  right: 20px;
  visibility: visible;
  opacity: 1;
  display: block;
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s;
}

.healthy {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb; 
}

.danger {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

.unhealthy {
  background-color: #e2e3e5;
  color: #383d41;
  border-color: #d6d8db;
}

.info{
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.error_message_login {
  color: red;
  text-align: center;
  font-size: 13px;
}

.spinner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.update_password {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.update_password_box {
  background-color: white;
  padding: 20px 50px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.update_password_box img {
  width: 50px;
  margin-bottom: 20px;
}

.update_password_box p {
  font-size: 1.2rem;
  color: #333;
}

.username_login {
  display: flex;
  text-align: start;
  justify-content: start;
  margin-left: 10px;
}

.password_login {
  display: flex;
  text-align: start;
  justify-content: start;
  margin-left: 10px;
}

label {
  display: flex;
}

.form_container {
  width: 50%;
  padding: 16px;
  background-color: white;
  border-radius: 20px 0 0 20px;
  color: #1c1c1d;
}

.image_container {
  width: 50%;
  overflow: hidden;
  border-radius: 0 20px 20px 0;
}

.background_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fill {
  text-align: center;
}

.login {
  color: #1c1c1d;
  text-align: center;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 5px);
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 20px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: white;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

.signup {
  text-align: center;
  margin-top: 16px;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  gap: 50px;
}

.password_input_container {
  position: relative;
}

.password_input_container input {
  width: 100%;
  padding-right: 40px;
}

.custom_update_password_btn {
  background: linear-gradient(to right, rgb(0, 114, 255), rgb(0, 198, 255));
  color: white;
  padding: 16px 20px;
  margin: 8px 0px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 20px;
}

.password_toggle_icon {
  position: absolute;
  top: 35%;
  color: #1c1c1d;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}

@media (max-width: 768px) {
  .container_login {
    width: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 468px) {
  .container_login {
    width: 380px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .container_login {
    width: 800px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .message {
    display: none;
  }
  .messageOpen {
    right: 20px;
    visibility: visible;
    opacity: 1;
    display: block;
    transition: right 0.3s ease-in-out;
  }
}

@media (min-width: 769px) {
  .message {
    display: none;
  }
  .messageOpen {
    right: 20px;
    visibility: visible;
    opacity: 1;
    display: block;
    transition: right 0.3s ease-in-out;
  }
}