.chat_history1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1001;
  padding: 10px 20px;
  margin: 0;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.46);

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.history_div_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  height: 60px;
  z-index: 1002;
}

.left_section,
.right_section {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.history_links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.name_logo {
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.divider_dp {
  height: 0;
  margin: var(--bs-dropdown-divider-margin-y) 0;
  overflow: hidden;
  opacity: 1;
  background-color: white;
}

.history_links a,
.history_links .dropdown_toggle {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  transition: none;
  cursor: pointer;
  gap: 4px;
}

.dropdown_menu {
  background-color: white;
  color: black;
  padding: 10px;
  width: 200px;
}

.dropdown_item {
  color: black !important;
  background-color: white !important;
}

.logout_loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.logout_box {
  background-color: white;
  padding: 20px 50px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon_p {
  font-size: 20px;
  margin-right: 5px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 10;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: black;
  margin: 3px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.bar.open:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.mobile_menu {
  display: none;
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.mobile_menu_item {
  padding: 10px 15px;
  color: black;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.3s;
}

.mobile_menu_item:hover {
  background-color: transparent;
}

.mobile_menu_item:focus,
.mobile_menu_item:active {
  background-color: transparent;
  color: black;
  outline: none;
  box-shadow: none;
}

.mobile_menu.open {
  display: flex;
}

.search_bar_container1 {
  position: relative;
}

.search_container {
  margin-bottom: 20px;
  position: relative;
  top: 20px;
  left: 1%;
  width: 100%;
}

.search_container input {
  padding: 5px !important;
  border: 1px solid grey !important;
  border-radius: 30px !important;
  background-color: white !important;
  color: black !important;
  outline: none !important;
}

.search_container input:focus {
  background-color: black;
  border-color: grey;
}

.drpp {
  position: absolute;
  width: 95%;
  top: 95%;
  left: 1%;
  background-color: white;
  border-radius: 15px;
  border: 1px solid grey;
  color: black;
  max-height: 100px;
  overflow-y: auto;
  z-index: 10;
  padding: 6px 0;
}

.drpp_hld {
  text-align: center;
  color: black;
  padding: 10px 0;
}

.drpp_rsl {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.drpp_t {
  padding: 10px;
  border-bottom: 1px solid grey;
  cursor: pointer;
  text-align: left;
}

.drpp_t:last-child {
  border-bottom: none;
}

.divider_delete {
  color: black !important;
}

.divider_logout {
  color: black !important;
  border: 0.1px solid black !important;
}

.name_delete {
  color: red;
}

.delete_name {
  color: red !important;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .history_links {
    display: none;
  }

  .mobile_menu {
    display: flex;
    border-radius: 20px;
  }

  .search_container input {
    width: 95% !important;
  }

  .mobile_menu_item {
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.3s;
  }

  .mobile_menu_item:hover {
    background-color: none !important;
  }
}

@media (min-width: 769px) {
  .history_links {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }

  .mobile_menu {
    display: none;
  }

  .hamburger {
    display: none;
  }
}