.postsPageContainer {
  display: flex;
  height: 100vh;
}

.postsContentContainer {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
}

.saved_posts_title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.postsList {
  padding-left: 20px;
}

.postsListItem {
  margin: 5px 0;
}

.errorMessage {
  color: red;
  text-align: center;
}

.noPostsMessage {
  font-size: 16px;
  color: #666;
}