.post_form {
  margin: 10px auto;
  margin-top: 15px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: none;
  max-width: 650px;
  display: flex;
  border: 1px solid grey;
}

.preview_image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 20px;
}

.emoji_picker {
  position: absolute;
  bottom: 60px;
  right: 20px;
  z-index: 10001;
}

.user_image {
  cursor: pointer;
  margin-bottom: 10px;
}

.user_image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post_form form {
  width: 100%;
}

.post_form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 0.1px solid lightgray;
  border-radius: 20px;
  background-color: #f0f2f5;
  color: black;
  font-size: 16px;
  outline: none;
  width: 100%;
}

.post_form_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.post_the_post {
  padding: 10px 20px;
  background: linear-gradient(to right, #0072ff, #00c6ff);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.icons_container {
  display: flex;
  gap: 10px;
}

.icon {
  color: black;
  cursor: pointer;
  font-size: 20px;
}

.clear_image_button {
  background: transparent;
  border: none;
  margin-right: 5px;
  margin-bottom: 10px;
  color: rgb(29, 155, 240);
}