.post-card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  margin: 20px auto;
  position: relative;
  max-width: 650px;
  cursor: pointer;
  color: black;
  border: 0.2px solid grey;
}

.copy-url-button {
  background: linear-gradient(to right, #0072ff, #00c6ff);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 20px;
}

.share-title {
  color: black;
  background-color: white;
}

.icon-name {
  color: black;
}

.liked {
  color: red;
}

.no-image-message {
  color: red;
  text-align: center;
}

.saved {
  color: #00c6ff;
}

.share-body {
  background-color: white;
  color: black;
}

.list-loader {
  width: 100%;
  transform: translate(-50%, 50%);
  left: 42%;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
}

.community-name-card {
  top: -33px;
  margin-left: 65px;
  position: relative;
  text-decoration: underline;
  color: #00c6ff;
}

.three-dots {
  font-size: 25px;
  cursor: pointer;
  background: none;
  border: none;
  margin-top: -20px;
  color: black;
}

.dropdown-delete {
  position: absolute;
  top: 55px;
  right: 0;
  background-color: white;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 10;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  min-width: 100px;
  border-radius: 10px;
}

.delete-button {
  color: red;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 15px;
  padding: 5px 10px;
}

.report-button {
  color: black;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 15px;
  padding: 5px 10px;
}

.custom-dropdown {
  position: relative;
  width: 100%;
}

.custom-dropdown-toggle {
  width: 100%;
  padding: 8px;
  text-align: left;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.custom-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1050;
  list-style: none;
  margin: 0;
  padding: 0;
}

.custom-dropdown-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.custom-dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.submit-button {
  background: red;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.submit-button:disabled {
  background: lightgray;
  cursor: not-allowed;
}

.cancel-button {
  background: gray;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.delete-comment-button {
  color: red;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 10px;
  margin-left: 190px;
  top: 0px;
  position: relative;
  padding: 0;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.post-content {
  display: flex;
  margin-left: 5px;
}

.post-image {
  margin: 10px 0;
}

.post-image .image {
  width: 500px;
  height: auto;
  max-width: 100%;
  border-radius: 5px;
}

.loader-text {
  margin-top: 10px;
  font-size: 16px;
  color: black;
  text-align: center;
}

.user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-icon1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 5px;
  display: flex;
}

.post-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.comment-num {
  margin-right: 5px;
  font-size: 14px;
  margin-top: 17px;
}

.post-comments {
  margin-top: 10px;
}

.comment-list {
  list-style-type: none;
  padding: 0;
}

.comment-item1 {
  margin-bottom: 10px;
}

.user-comment {
  display: flex;
  margin-left: 30px;
  margin-top: 15px;
  font-size: 20px;
}

.user-id {
  font-size: 13px;
  margin-left: 26px;
  display: flex;
  margin-top: -20px;
}

.small-timer {
  font-size: 10px;
  color: grey;
  display: flex;
  margin-top: 2px;
  margin-left: 2px;
}

.comment-date {
  color: black;
  font-size: 0.8rem;
}

.comment-title {
  display: flex;
  font-size: 15px;
  margin-left: 13px;
}

.post-header-text {
  flex: 1;
  justify-content: flex-start;
  display: flex;
}

.post-header-text h2 {
  font-size: 15px;
  display: flex;
  align-items: center;
  color: black;
}

.post-details {
  display: flex;
  align-items: center;
  color: grey;
}

.username {
  margin-left: 0px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
}

.username:hover {
  text-decoration: underline;
  color: black;
}

.separator {
  margin: 0 2px;
}

.post-date {
  font-size: 9px;
  color: grey;
}

.share-icons {
  display: flex;
  justify-content: space-between;
  color: black;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.share-icon {
  background-color: transparent;
}

.youtube-icon {
  width: 100px;
}

.reddit-icon {
  width: 100px;
}

.x-icon {
  width: 100px;
}
.facebook-icon {
  width: 100px;
}

.add-comment-button {
  background: transparent;
  color: #1c1c1d;
  border: none;
  margin-top: -1px;
}

.post-comment-button {
  background: transparent;
  color: black;
  border: none;
  width: 70px;
  padding: 7px 20px;
  border-radius: 20px;
  margin-top: 50px;
}

.new-comment-form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  border-radius: 20px;
}

.new-comment-form textarea {
  width: 100%;
  padding: 5px 0;
  border: none;
  border-bottom: 2px solid lightgrey;
  background: none;
  font-size: 15px;
  margin-top: 50px;
  outline: none;
  resize: none;
  height: auto;
  overflow: hidden;
  color: black;
}

.new-comment-form textarea:focus {
  border-bottom: 2px solid #0072ff;
}

.error-message {
  margin-left: 0;
  font-size: 13px;
  color: red;
  text-align: center;
}

@media (max-width: 1024px) {
  .post-card {
    width: 100%;
  }
  .error-message {
    margin-left: 0;
    font-size: 13px;
    color: red;
    text-align: center;
  }
  .new-comment-form textarea {
    width: 400px;
    height: 40px;
    resize: vertical;
    padding: 10px;
    font-size: 10px;
    border: none;
    border-bottom: 2px solid lightgrey;
    background: none;
    padding-right: 40px;
    outline: none;
    resize: none;
    height: auto;
    overflow: hidden;
    color: black;
    border-radius: 3px;
  }
  .new-comment-form textarea:focus {
    border-bottom: 2px solid #0072ff;
  }

  .list-loader {
    left: 25%;
  }
}

@media (max-width: 768px) {
  .post-card {
    width: 100%;
    margin: 10px auto;
    padding: 15px;
    border-radius: 15px;
  }

  .copy-url-button {
    padding: 14px;
  }

  .post-header-text h2 {
    font-size: 18px;
  }

  .post-date {
    font-size: 8px;
    margin-top: 3px;
  }

  .share-icons {
    flex-direction: column;
    align-items: center;
  }

  .footer-icons {
    flex-direction: row;
    align-items: center;
  }

  .new-comment-form {
    flex-direction: row;
    gap: 5px;
  }

  .new-comment-form textarea {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 2px solid lightgrey;
    background: none;
    font-size: 15px;
    margin-top: 50px;
    outline: none;
    resize: none;
    height: auto;
    overflow: hidden;
    color: black;
  }

  .new-comment-form textarea:focus {
    border-bottom: 2px solid #0072ff;
  }

  .user-comment {
    font-size: 16px;
    margin-top: 15px;
  }

  .user-id {
    font-size: 12px;
  }

  .post-image .image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .post-comment-button {
    width: 20%;
    padding: 10px;
    border-radius: 15px;
    margin-top: 90px;
  }

  .loader-text {
    font-size: 14px;
  }

  .small-timer {
    font-size: 9px;
    margin-top: 4px;
  }

  .list-loader {
    width: 100%;
    transform: translate(-50%, 50%);
    left: 50%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .delete-comment-button {
    color: red;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 10px;
    margin-left: 100px;
    position: relative;
    padding: 0;
  }
}