.post_form {
  margin: 10px auto;
  width: 100%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
}

.input_with_icons {
  display: flex;
  position: relative;
  border: 1px solid lightgray;
  border-radius: 15px;
  background-color: #f0f2f5;
  align-items: center;
  padding-right: 10px;
}

.textarea {
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: transparent;
  color: black;
  font-size: 14px;
  width: 100%;
  resize: none;
  outline: none;
}

.icons_container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon {
  color: black;
  cursor: pointer;
  font-size: 20px;
}

.post_the_post {
  background: transparent;
  color: black;
  border: none;
  cursor: pointer;
  position: relative;
}

.emoji_picker {
  position: absolute;
  bottom: 50px;
  right: 10px;
  z-index: 10001;
}