.background {
  padding: 0 25px 25px;
  position: relative;
  width: 100%;
}

.background::after {
  content: "";
  background-image: url("../assets/background.jpg");
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (min-width: 900px) {
  .background {
    padding: 0 0 25px;
  }
}

.container_p {
  margin: 0 auto;
  padding: 50px 0 0;
  max-width: 960px;
  width: 100%;
}

.panel {
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
  display: flex;
}

.terms_check a{
  margin-top:-22px;
  z-index: 100;
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: black;
  text-decoration: underline;
}

.pricing_table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08),
    0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .pricing_table {
    flex-direction: row;
  }
}

.pricing_table * {
  text-align: center;
  text-transform: uppercase;
}

.pricing_plan {
  border-bottom: 1px solid black;
  padding: 25px;
}

.pricing_plan:last-child {
  border-bottom: none;
}

@media (min-width: 900px) {
  .pricing_plan {
    border-bottom: none;
    border-right: 1px solid black;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .pricing_plan:last-child {
    border-right: none;
  }
}

.pricing_img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing_header {
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing_features {
  color: #016ff9;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
  list-style: none;
}

.pricing_features_item {
  border-top: 1px solid black;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  position: relative;
  padding-left: 30px;
  color: black;
}

.pricing_features_item::before {
  content: "\2713";
  color: #00c6ff;
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.pricing_features_item:last-child {
  border-bottom: 1px solid black;
}

.pricing_price {
  color: black;
  display: block;
  font-size: 32px;
  font-weight: 700;
  position: relative;
  text-align: center;
}

.pricing_price::after {
  content: "/month";
  font-size: 14px;
  color: #888;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.pricing_button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: white;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.pricing_button:hover,
.pricing_button:focus {
  background-color: #e1f1ff;
}

.pricing_button.is_featured {
  background-color: #48aaff;
  color: #fff;
}

.pricing_button.is_featured:hover,
.pricing_button.is_featured:active {
  background-color: #269aff;
}

.plan_title {
  color: black;;
  z-index: 100;
  position: relative;
  font-size: 25px;
}
@media (max-width: 768px) {
  .plan_title {
    color: black;
    z-index: 100;
    position: relative;
    font-size: 25px;
  }
}
