.constructor-container {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.buttons-style {
  display: flex;
  align-items: center;
  justify-content: center;
}

.following-followers {
  display: flex;
  margin-left: 5px;
  margin-top: -20px;
  margin-bottom: -30px;
  flex-wrap: wrap;
}

.user-links {
  display: flex;
  margin-right: 20px;
  flex-wrap: wrap;
}

.user-links a {
  color: #1c1c1d;
  font-size: 24px;
}

.user-title {
  display: flex;
  justify-content: center;
}

.user-bio {
  display: flex;
  justify-content: center;
}

.mt-3 {
  display: flex;
  justify-content: center;
}

.button-edit,
.button-posts,
.button-settings {
  font-size: 12px;
  background-color: lightgrey;
  border: none;
  color: #1c1c1d;
}

.button-edit:hover {
  color: #1c1c1d;
  background-color: lightgrey;
}

.useri {
  width: 100px;
  position: relative;
  margin-top: 20px;
  border-radius: 50%;
}

.post-list1 {
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
}

.post-list1::-webkit-scrollbar {
  display: none;
}

.post-list1 {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 1024px) {
  .constructor-container {
    max-width: 800px;
  }
}

@media (max-width: 768px) {
  .colol {
    width: 100%;
    margin-top: 10px;
    margin-right: auto;
  }

  .username-p {
    margin-right: auto;
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
  }

  .buttons-style {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    font-size: 1em;
  }

  .user-links {
    margin-left: 0;
    align-content: center;
    justify-content: center;
  }

  .following-followers {
    justify-content: center;
  }

  .user-bio,
  .user-title {
    justify-content: center;
    text-align: center;
  }

  .constructor-container {
    max-width: 950px;
  }
}

@media (max-width: 480px) {
  .user-links a {
    font-size: 18px;
  }

  .constructor-container {
    max-width: 345px;
    margin: 0 5px 0 0;
  }

  .button-edit,
  .button-posts,
  .button-settings {
    font-size: 10px;
  }

  .useri {
    width: 80px;
  }

  .pst-lst {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
  }

  .post-list1 {
    width: 400px;
  }
}

@media (max-width: 360px) {
  .constructor-container {
    max-width: 90%;
  }
}
