.constructor_container {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.buttons_style {
  display: flex;
  align-items: center;
  justify-content: center;
}

.following_followers {
  display: flex;
  margin-left: 5px;
  margin-top: -20px;
  margin-bottom: -30px;
  flex-wrap: wrap;
}

.user_links {
  display: flex;
  margin-right: 20px;
  flex-wrap: wrap;
}

.user_links a {
  color: #1c1c1d;
  font-size: 24px;
}

.user_title {
  display: flex;
  justify-content: center;
}

.user_bio {
  display: flex;
  justify-content: center;
}

.mt-3 {
  display: flex;
  justify-content: center;
}

.button_edit,
.button_posts,
.button_settings {
  font-size: 12px;
  background: 'linear-gradient(to right, #0072ff, #00c6ff)';
  color: 'white';
  border: none;
}

.useri {
  width: 100px;
  position: relative;
  margin-top: 20px;
  border-radius: 50%;
}

.post_list1 {
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
}

.post_list1::-webkit-scrollbar {
  display: none;
}

.post_list1 {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text_center {
  text-align: center !important;
}

@media (max-width: 1024px) {
  .constructor_container {
    max-width: 800px;
  }
}

@media (max-width: 768px) {
  .colol {
    width: 100%;
    margin-top: 10px;
    margin-right: auto;
  }

  .username_p {
    margin-right: auto;
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
  }

  .buttons_style {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    font-size: 1em;
  }

  .user_links {
    margin-left: 0;
    align-content: center;
    justify-content: center;
  }

  .following_followers {
    justify-content: center;
  }

  .user_bio,
  .user_title {
    justify-content: center;
    text-align: center;
  }

  .constructor_container {
    max-width: 950px;
  }
}

@media (max-width: 480px) {
  .user_links a {
    font-size: 18px;
  }

  .constructor_container {
    max-width: 345px;
    margin: 0 5px 0 0;
  }

  .button_edit,
  .button_posts,
  .button_settings {
    font-size: 10px;
  }

  .useri {
    width: 80px;
  }

  .pst_lst {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
  }

  .post_list1 {
    width: 400px;
  }
}

@media (max-width: 360px) {
  .constructor_container {
    max-width: 90%;
  }
}