* {
  box-sizing: border-box;
}

body.register_page {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  height: auto;
  margin: 10px auto;
  overflow-y: auto;
  overflow-x: hidden;
}

body.register_page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(6px);
  z-index: -1;
}

.error_message_register {
  color: red;
  text-align: center;
  font-size: 13px;
}

.container_sign {
  background: white;
  color: black;
  box-shadow: 0 6px 12px rgb(0, 0, 0);
  border-radius: 15px;
  width: 600px;
  padding: 20px;
  margin-right: 10px;
  box-sizing: border-box;
  position: relative;
  margin-top: 20px;
}

.regTitle {
  color: #1c1c1d;
}

.fill {
  text-align: center;
}

.text_center {
  text-align: center;
}

.my_3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.arrow {
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  justify-content: end;
  display: flex;
  color: black;
  top: 15px;
  border-radius: 50%;
  z-index: 10001;
  margin-bottom: 10px;
  transition: right 0.3s ease-in-out;
}

.arrowOpen {
  transform: translateX(-280px);
}

.message {
  position: absolute;
  top: 20px;
  right: -250px;
  width: 250px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  transition: right 0.3s ease-in-out;
  display: none;
  visibility: hidden;
  opacity: 0;
  display: block;
}

.messageOpen {
  right: 20px;
  visibility: visible;
  opacity: 1;
  display: block;
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s;
}

.healthy {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb; 
}

.danger {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

.unhealthy {
  background-color: #e2e3e5;
  color: #383d41;
  border-color: #d6d8db;
}

.info{
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.name_register {
  display: flex;
  text-align: start;
  justify-content: start;
  margin-left: 10px;
}

label {
  display: flex !important;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 20px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.password_toggle_icon {
  position: absolute;
  top: 72%;
  color: #1c1c1d;
  right: 35px;
  transform: translateY(-50%);
  cursor: pointer;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

a {
  color: dodgerblue;
}

.signin {
  text-align: center;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  gap: 10px;
}

@media (max-width: 768px) {
  .container_sign {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 468px) {
  .container_sign {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .container_sign {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .message {
    display: none;
  }
  .messageOpen {
    right: 20px;
    visibility: visible;
    opacity: 1;
    display: block;
    transition: right 0.3s ease-in-out;
  }
}

@media (min-width: 769px) {
  .message {
    display: none;
  }
  .messageOpen {
    right: 20px;
    visibility: visible;
    opacity: 1;
    display: block;
    transition: right 0.3s ease-in-out;
  }
}