.terms_container {
  padding: 20px;
}

.term_section {
  margin-bottom: 40px;
}

.h1_container {
  margin: 0 auto 40px auto;
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-position: center;
  padding: 40px;
  border-radius: 4px;
  text-align: left;
}

.term_content p {
  font-size: 16px;
  line-height: 1.5;
  color: #657786;
}

.bold_text {
  font-weight: bold;
  color: black;
}

::selection {
  background-color: #b3d4fc;
  color: #1c1c1d;
}