.terms-container {
  padding: 20px;
}

.term-section {
  margin-bottom: 40px;
}

.h1-container {
  margin: 0 auto 40px auto;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  padding: 40px;
  border-radius: 4px;
  text-align: left;
}

h1 {
  margin: 0;
  color: black;
  font-size: 70px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  display: flex;
}

.term-title {
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
}

.term-content p {
  font-size: 16px;
  line-height: 1.5;
  color: #657786;
}

.bold-text {
  font-weight: bold;
  color: white;
}

::selection {
  background-color: #b3d4fc;
  color: #1c1c1d;;
}

.bottom-links {
  display: flex;
  gap: 20px;
  font-size: 15px;
}

.bottom-link {
  color: #1da1f2;
  text-decoration: none;
  font-weight: bold;
}

.bottom-link:hover {
  text-decoration: underline;
}
